<div class="container mt-1" >
    <h3 class="mb-1">Add Employee</h3>
    <form #form="ngForm" (ngSubmit)="addEmployee()">
        <div class="mb-2">
          <label for="id" class="form-label">Id</label>
          <input type="number" class="form-control" id="id" [(ngModel)]="employee.id" [ngModelOptions]="{standalone:true}">
        </div>
        <div class="mb-2">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="employee.name" [ngModelOptions]="{standalone:true}">
          </div>
          <div class="mb-2">
            <label for="emailId" class="form-label">EmailId</label>
            <input type="email" class="form-control" id="emailId" [(ngModel)]="employee.emailId" [ngModelOptions]="{standalone:true}">
          </div>
          <div class="mb-2">
            <label for="mobileNo" class="form-label">MobileNo</label>
            <input type="text" class="form-control" id="mobileNo" [(ngModel)]="employee.mobileNo" [ngModelOptions]="{standalone:true}">
          </div>
          <div class="mb-2">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" class="form-control" id="salary" [(ngModel)]="employee.salary" [ngModelOptions]="{standalone:true}">
          </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>

